*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-section{
    background-color:  #cad4f2;
    min-height: 100vh;
}

body {

    background-color: #cad4f2;

}

/* Nav BAr */
.navsty{
    width: 90%;
    height: 101px;
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
    align-items: center;
    margin: 30px auto;
    z-index: 0;
    background: #f3e8d6;
    border-radius: 35px;    
}
.logo-cont, .links{
  display: flex;
  align-items: center;
}
.logo-text{
    
    width: 185px;
    height: 60px;
    z-index: 1;
    font-family: 'Outfit';
    font-style: normal;
    font-weight:900;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    margin-left: -20px;
    color: #EA7015;    
}
.logo-text:hover{
    color: white;
}
.logo_img{
    width: 92px;
    height: 82px;
    z-index: 1;
    
}


.info1{
    width: fit-content;
    height: fit-content;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #EA7015;
}

.info2{
    
    width: fit-content;
    height: fit-content;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    margin-left: 30px;
    
    color: #EA7015;
}


/* To get rid of the underline in the nav bar*/
a:link{
    text-decoration: none;

}

a:hover {
    color:rgb(182, 91, 189)
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
}
.circle img{
    width: 100%;
}
.info{
    margin: 20px auto;
    text-align: center;
    width: 70%;
}
.info h3{
    color: white;
    margin-bottom: 20px;
}
.info p{
    margin-bottom: 20px;
}
.boxes{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.boxes div{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transition: transform 0.5s ease-out;
    border: 1px solid gray;
    overflow: hidden;
}
.box1{
    margin-right: 50px;
}
.boxes img{
    width: 100%;
    height: 100%;
}
.boxes div:hover{
    transform: scale(120%)
}


.footer{
   
    height: 160px;
    background-color: #F1B68A; 
    margin-top: -120px; 
}
.active{
    color: rgb(219, 134, 148);
}
.sub-footer {
    background-color: #7fb1eb;
    height: 60px;
    padding: 25px;
    
}

.sub-footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.footer-links a{
    color: black;
    margin-bottom: 20px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 10px;
}

.sub-footer-container img {
    width: 20px;
}

.box {
    position: relative;
}

.box a {
    font-size: 40px;
    position:absolute;
    bottom: 10px;
    left: 30px;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    
    .logo-text, .logo_img, .info1, .info2 {
        float: none;
        display: block;
        text-align: left;
    }


}