*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: #cad4f2;
    background-image: url('../Images/blobs.png');
    background-size: cover;
    background-attachment: fixed;
}
/*Nav BAr*/
.navsty{
    width: 90%;
    height: 101px;
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
    align-items: center;
    margin: 30px auto;
    z-index: 0;
    background: #f3e8d6;
    border-radius: 35px;    
}
.logo-cont, .links{
  display: flex;
  align-items: center;
}
.logo-text{    
    width: 185px;
    height: 60px;
    z-index: 1;
    font-family: 'Outfit';
    font-style: normal;
    font-weight:900;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    margin-left: -20px;
    color: #EA7015;    
}
.logo-text:hover{
    color: white;
}
.logo_img{
    width: 92px;
    height: 82px;
    z-index: 1;
    
}

.info1{
    
    
    width: fit-content;
    height: fit-content;

    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #EA7015;
}

.info2{
    width: fit-content;
    height: fit-content;    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    margin-left: 30px;
    
    color: #EA7015;
}

a:link{
    text-decoration: none;
}
a:hover {
    color:rgb(182, 91, 189)
}


/*Actual Page content*/
.boxie{
    display: flex;
    justify-content: center;
}

.container{
    position:relative;
   top:100px;
    left:40px;
    width: 300px;
    height:550px;
}
.container .img-box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 260px;
    height: 500px;
    object-fit:cover;
    resize: both;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
.container:hover .img-box{
    translate: 30px 0px;
}

.container .content-box{
    position: absolute;
    top:0px;
    left:0px;
    display: flex;
    width: 260px;
    height: 500px;
    background: white;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap:0px;
    z-index: 1;
    transition: all 0.3s ease-in-out;    
}
.container:hover .content-box{
    translate: 0px 125px;
}
@media screen and (max-width: 800px) {
    .boxie {
      flex-direction: column; 
    }
    .container:hover .img-box{
        translate: 0px -10px;
    }
    .container:hover .content-box{
        translate: 130px 40px;
    }
  }