
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/about.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Dr.You</title>
</head>
<body>

    <!-- This is for the Navigation Bar section  -->
    <div class="top-section">
    
        <nav class="navsty">
            <div class="logo-cont">
                <img src="../static/Images/Dr.You Logo.png" class="logo_img" />  
                <a class="logo-text" href="index.html">DR.YOU</a>
            </div>
            <div class="links">
                <a class="info1" href="contact.html">contact</a> 
                <a class="info2 active" href="about.html">about</a> 
            </div>
        </nav>

        <!-- Middle Section -->
        <div class="main">

            <div class="circle">
                <img src="../static/Images/earth1.png" />
            </div>
            <div class="info">
                <h3>Using DR.YOU could save your life today!</h3>
                <p>At DR.YOU, we help pre-diagnose individuals who have symptoms of illnesses/diseases, then
                    direct them to the appropriate healthcare professonal for further diagnosis and treatment.
                </p>
                <p> DR.YOU is very user friendly and is just one click away to knowing if you have 5 days to live</p>
           </div>

            <div class="boxes">
                <div class="box1">
                    <img src="../static/Images/First-Aid.png"/>
                </div>

                <div>
                    <img src="../static/Images/becoming-doctor.png"/>
                </div>
            </div>

        </div>

    </div>
    
    <!-- This is for the orange section  -->
    <div  class="footer">  </div>

    <!-- This is for the Privacy info at the end of the page  -->
    <footer>
        <div class="sub-footer">
            <div class="container flex sub-footer-container">
                <div class="footer-links flex">
                    <a class="hover-link" href="#">Privacy policy</a>
                    <a class="hover-link" href="#">Terms & conditions</a>
                    <a class="hover-link" href="#">Security information</a>
                </div>
               
                <div class="footer-icons flex">
                    <a class="hover-link" href="#"><img src="../static/Images/asset 28.png" alt="facebook icon"></a>
                <a class="hover-link" href="#"><img src="../static/Images/asset 29.png" alt="twitter logo"></a>
                <a class="hover-link" href="#"><img src="../static/Images/asset 30.png" alt="linkedin"></a>
                <a class="hover-link" href="#"><img src="../static/Images/asset 31.png" alt="YouTube logo"></a>
                </div>
                
            </div>
        </div>
    </footer>


</body>
</html>