<!--Put this file with the rest of your correct HTML's-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <link rel="stylesheet" href="..\static\css\contact.css"> <!--Dont forget to properly connect the css-->   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-Dr.You</title>
</head>
<body>
    <nav class="navsty">
        <div class="logo-cont">
            <img src="..\static\Images\Dr.You Logo.png" class="logo_img">
            <a class="logo-text" href="index.html">DR.YOU</a>
        </div>
        <div class="links">
            <a class="info1" href="contact.html">contact</a> 
            <a class="info2 active" href="about.html">about</a> 
        </div>    
    </nav>
    

    <div class="boxie">
        <!--This is Seyi-->
        <div class="container">
            <img src="..\static\Images\IMG_20220906_004634.jpg" class="img-box">
            <div class="content-box">
                <h2>Olaniyan Seyifunmi</h2> 
                <h4>Front-End Team</h4>
            </div>
        </div>
    
        <!--This is Tayo-->
        <div class="container">
            <img src="..\static\Images\Tayo img.jpeg" class="img-box"> <!--Add a picture of your self into Images folder and relative path it.-->
            <div class="content-box">
                <h2>Adetola Oluwatayo</h2> <!--Change name-->
                <h4>Front-End Team</h4>
            </div>
        </div>
    
        <!--This is Ben-->
        <div class="container">
            <img src="..\static\Images\ben_p.png" class="img-box">
            <div class="content-box">
                <h2>Ben Puhalski</h2> 
                <h4>ML Team</h4>
            </div>
        </div>
    
        <!--This is Carmen-->
        <div class="container">
            <img src="..\static\Images\Tayo img.jpeg" class="img-box">
            <div class="content-box">
                <h2>Carmen Werrlein</h2> <!--Change name-->
                <h4>ML Team</h4>
            </div>
        </div>
    </div>
    

</body>
</html>