<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DR.YOU | +Diagnosis</title>
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <link rel="stylesheet" href="..\static\css\process.css">
</head>

<body>
    <div class="wrapper">
        <img src="..\static\Images\Dr.You Logo.png" class="logo_img">
        <div>
            <a class="logo-text" href="/">DR.YOU</a>
            <a class="info1" href="/contact">contact</a>
            <a class="info2" href="/about">about</a>
        </div>
        
        <img src="..\static\Images\Dr.You Logo.png"  class="process-logo" alt="Company Logo" />

        <h1 class="result">Your Diagnosis Results</h1>
    </div>
    
    
    <div class="leftbox">
        <u><h2>Analysis</h2></u>
        <p>According to your responses to the questionnaire, we believe that you are prone to having heart related issues. We recommend an appointment with a healthcare 
            professional to confirm this diagnosis. Especially if you feel physically unwell.</p>
        <u><h3>Avoid the following</h3></u>
        <ul>
            <li>Avoid smoking cigarettes</li>
            <li>Keep your environment clean</li>
            <li>Avoid contact with any carcinogenic material</li>
        </ul>
    </div>

    <div class="comment">
        <p>The result shown here is a preemptive analysis of your responses by our machine learning model. Don't panic, consult a Doctor as soon as possible.</p>
    </div>
    
    <div class="rightbox">
        <u><h2>Accuracy</h2></u>
        <p>This analysis is only 75% accurate </p>
        <p>You could be suffering from these:</p>
        <ol>
            <li>Heart attack</li>
            <li>Angina</li>
            <li>Stroke</li>
        </ol>
    </div>

    <!--<input type="button" onclick="location.href='index.html'" value="Return to Home"> -->

    
    
</body>
</html>