<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DR.YOU | -Diagnosis</title>
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <link rel="stylesheet" href="..\static\css\process.css">
</head>

<body>
    <div class="wrapper">
        <img src="..\static\Images\Dr.You Logo.png" class="logo_img">
        <div>
            <a class="logo-text" href="index.html">DR.YOU</a>
            <a class="info1" href="contact.html">contact</a>
            <a class="info2" href="about.html">about</a>
        </div>
        
        <img src="..\static\Images\Dr.You Logo.png"  class="process-logo" alt="Company Logo" />

        <h1 class="result">Your Diagnosis Results</h1>
    </div>
    
    
    <div class="leftbox">
        <u><h2>Analysis</h2></u>
        <p>According to your responses to the questionnaire, we believe that you do not have Diabetes. There is no immediate medical crisis. There is no immediate cause for alarm. In the meantime
            consider the following health tips:
        </p>
        <u><h3>General Health Tips</h3></u>
        <ul>
            <li>Avoid smoking cigarettes</li>
            <li>Keep your environment clean</li>
            <li>Avoid contact with any carcinogenic material</li>
        </ul>
    </div>

    <div class="comment">
        <p>The result shown here is a preemptive analysis of your responses by our machine learning model. Don't panic, consult a Doctor as soon as possible.</p>
    </div>
    
    <div class="rightbox">
        <u><h2>Accuracy</h2></u>
        <p>This analysis is 80% accurate </p>
        <p>There could be also a possibility that you might be suffering from these diseases</p>
        <ol>
            <li>Pneumonia</li>
            <li>Asthma</li>
            <li>Chronic obstructive pulmonary disease (COPD)</li>
            <li>Gastroesophageal reflux disease (GERD)</li>
            <li>Encysted lung effusion</li>
        </ol>
    </div>

    <input type="button" onclick="location.href='index.html'" value="Return to Home">

    
    
</body>
</html>